<header class="headerIndex">
    <div class="logo row ">
        <div class="contentBooks col-0" id="logo">
            <a class="logoLink homeLink" href="#" id="logoLink"></a>
            <i class="fas fa-book-open logoBookOpen"></i>
            <i class="fas fa-book logoBook1"></i>
            <i class="fas fa-book logoBook2"></i>
            <i class="fas fa-book logoBook3"></i>
        </div>
        <p class="text-center">Menu</p>
        <a href="#" class="close">&#10060;</a>
    </div>
    <nav class="navSite">
        <ul class="navList">
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li>
                <a href="#">Utilisateurs</a>
            </li>
            <li>
                <a href="{{ path('logout') }}">Se déconnecter</a>
            </li>
        </ul>
    </nav>
    <div class="decorate"></div>
    <div class="darkDiv" title="retour"></div>
    <h3 class="col-8 col-sm-12">Bienvenue {{ app.user.name }} !</h3>
</header>