<div id="divLoad">
    <div class="line"></div>
    <div class="contentBooks">
        <div class="loading"></div>
        <i class="fas fa-book-open"></i>
        <i class="fas fa-book book1"></i>
        <i class="fas fa-book book2"></i>
        <i class="fas fa-book book3"></i>
    </div>
    <p id="loadingP">Loading</p>
</div>